.formulario {
    background-color: rgb(91, 120, 91);
}

.formulario input {
    margin-top: 30px;
}

.formulario div {
    margin-top: 50px;
    margin-left: 50rem;
}

.formulario button {
    margin-left: 55rem;
    margin-top: 1.3rem;
}

.botao {
    padding: 8px;
    cursor: pointer;
    background-color: #3498db;
    border: none;
    border-radius: 4px;
  }
  
  .botao:hover {
    background-color: #217dbb;
  }

.mensagem {
    padding: 10px;
    margin-right: 50rem;
    border-radius: 4px;
  }
  
  .verde {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
  }
  
  .vermelho {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
  }
  