<div class="box">
  <div class="titulo">
    <h2>Minha lista:</h2>
</div>
<div class="lista">
    <table class="tabela">
        <tr class="cabecalho-tabela">
          <th>Nome</th>
          <th>Tipo</th>
          <th>Ação</th>
        </tr>    
        <tr *ngFor="let item of itens" class="linha-tabela" [class.checked]="item.checked">
          <td>{{item.name}}</td>
          <td>{{item.type}}</td>
          <td>
            <button class="botao-delete" (click)="removerItem(item)">Delete</button>
            <button class="botao" (click)="marcarItem(item)">Check</button>
          </td>
        </tr>
    </table>
</div>
<div class="addTarefa">
    <label for="novaTarefa">Adicionar Tarefa:</label>
    <input type="text" id="novaTarefa" [(ngModel)]="novoItem" maxlength="100">
    <label for="Tipo">Tipo:</label>
    <input type="text" id="novoTipo" [(ngModel)]="novoTipo" maxlength="100">
    <button class="botao" (click)="adicionarTarefa()">Adicionar Tarefa</button>
</div>

